PORT=3000
DATABASE_URL=mysql://user:password@localhost:3306/bookreviews
RABBITMQ_URL=amqp://user:password@localhost:5672
GUTENDEX_URL=https://gutendex.com

# consumed by docker compose, not by the application
MYSQL_ROOT_PASSWORD=<rootpassword>
MYSQL_DATABASE=<bookreviews>
MYSQL_USER=<user>
MYSQL_PASSWORD=<password>
RABBITMQ_USER=<user>
RABBITMQ_PASSWORD=<password>
